@model List<Dictionary<string, object>>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var key in Model.First().Keys)
                {
                    <th>@key</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    @foreach (var cell in row.Values)
                    {
                        <td>@cell</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <p>Query run was successful. Output is empty.</p>
}
