@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Query Results";
}

<h2>Executed Query Results</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var key in Model.First().Keys)
                {
                    <th>@key</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    @foreach (var cell in row.Values)
                    {
                        <td>@cell</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Querry run successfully. Output is empty.</p>
}

<a class="btn btn-secondary" asp-action="Index">Back to List</a>
